.price-chart-container {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.plotly-chart {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.chart-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  color: #666;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .price-chart-container,
  .plotly-chart {
    min-height: 400px;
  }
  
  .chart-placeholder {
    min-height: 400px;
  }
}

@media (max-width: 480px) {
  .price-chart-container,
  .plotly-chart {
    min-height: 350px;
  }
  
  .chart-placeholder {
    min-height: 350px;
  }
}
